@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error404";
}

<h2>Error404</h2>

<h1 class="text-danger">Greška.</h1>
<h2 class="text-danger">Zahtevana stranica ne postoji.</h2>

@*// If you're running under IIS 7 in Integrated mode set use this line to override
// IIS errors:
Response.TrySkipIisCustomErrors = true;

// Set status code and message; you could also use the HttpStatusCode enum:
// System.Net.HttpStatusCode.NotFound
Response.StatusCode = 404;
Response.StatusDescription = "Page not found";*@