
@{
    ViewBag.Title = "DataChange";
}

<h2>Promena podataka</h2>

<li>@Html.ActionLink("Kretanje štampača", "Index", "Sales")</li>
<li>@Html.ActionLink("Prodati toneri", "Index", "SaleToners")</li>
<li>@Html.ActionLink("Napunjeni i kupljeni toneri", "Index", "MakeToners")</li>