@{
    ViewBag.Title = "Pomoć i obaveštenja";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<p> - users - ubaciti kolone stari GO, novi GO</p>
<p> - servis IndexView - sort najmlađi top</p>
<p> - ugovor - sort najmlađi datum top</p>
<p> - novi ugovor - firme sort</p>
<p> - kretanje štampača - sort po datumu + proizvođač - sort upis štampača</p>
<p> 03.05.2017. Sort Servisa, Ugovora i Unos novog Ugovora (Firma), kretanje štampača (+dodat proizvođač) i unos novog</p>
<p> 20.04.2017. Izveštaj 6. - Dodao link za firme koje su aktivne a nisu naručivale tonere</p>
