@{
    ViewBag.Title = "Pomoć i obaveštenja";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<p> - users - ubaciti kolone stari GO, novi GO</p>
<p> - servis IndexView - sort najmlađi top</p>
<p> - ugovor - sort najmlađi datum top</p>
<p> - novi ugovor - firme sort</p>
<p> - kretanje štampača - sort po datumu + proizvođač - sort upis štampača</p>
<p> 03.05.2017. Sort Servisa, Ugovora i Unos novog Ugovora (Firma), kretanje štampača (+dodat proizvođač) i unos novog</p>
<p> 20.04.2017. Izveštaj 6. - Dodao link za firme koje su aktivne a nisu naručivale tonere</p>
<p> 29.05.2017. UNOS PODATAKA: Firma Štampač Toner Ugovor Reklamacije; PROMENA PODATAKA: Kretanje štampača Kretanje tonera Proizvodnja tonera; EPC: Servis TODO Ka$a Login</p>
<p> 29.05.2017. Izvestaj 1 PUCA prilikom Pretrage u polju firme</p>
<p> 29.05.2017. Kretanje stampaca cini se da ima duplirani datum i datum kreirano. Neka ostane datum kreirano a neka umesto prvog datuma bude serijski broj štampača</p>
<p> 29.05.2017. Opcija da kombo box prikazuje samo štampače koji već nisu nege pod Ugovorom!</p>
<p> 29.05.2017. Dodavanje polja MIN KOLIČINA priliko definisanja tonera</p>
<p> 29.05.2017. Izveštaj 7 Dnevni nalog za punjenje i nabavku tonera pod uslovom da je=Stanje-minimalne količine <0)</p>
<p> 29.05.2017. REKLAMACIJA sort Najnoviji na vrh!</p>
<p> 29.05.2017. USER dodati podatak STARI GO i NOVI GO</p>
<p> 29.05.2017. Dodela nivoa pristupa po definisanim kriterijumima</p>


