@{
    ViewBag.Title = "Pomoć i obaveštenja";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Izveštaj 6. - Dodati Ownere koji su aktivni a nisu naručivali tonere u datu tabelu ili kao zasebnu tabelu</p>
<p> - users - ubaciti kolone stari GO, novi GO</p>
<p> - servis IndexView - sort najmlađi top</p>
<p> - ugovor - sort najmlađi datum top</p>
<p> - novi ugovor - firme sort</p>
<p> - kretanje štampača - sort po datumu + proizvođač - sort upis štampača</p>
